.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: rgb(126,85,23);
background: radial-gradient(circle, rgba(126,85,23,0.9894075732899023) 21%, rgba(88,42,15,0.9689515472312704) 81%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  border-radius: 0 0 4rem 1rem / 0 0 4rem 1rem;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  clip-path: polygon(100% 100%, 85% 92%, 68% 89%, 50% 90%, 34% 91%, 15% 90%, 0 84%, 0 0, 100% 0);
}

@media only screen and (max-width: 500px) {
  .header{
    padding: 0 5%;
  }

  .header h1 {
    font-size: 1.5em;
  }
}